#nav-container{
  display: flex;
  align-items:baseline;
  
}
body{
  display: flexbox;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logo{
  display: flex;
  align-items: start;  
}
h3{
  margin-left: 10px;
}
.one{
  width: 50px;
  height: 50px;
}


a{
  color: gray;
  text-decoration: none;
}
ul {
  list-style-type: none;
}


.nav-links{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 0;
}

span{
  margin-left: 50px;
  margin-right: 20px;
}
#span-5{
  margin-left: 50px;
  margin-right: -30px;
}
.btn{
  padding: 10px 50px;
  border-radius: 30px;
  margin-left: 40px;
}
.btn:hover{
  background-color: blue;
  color: white;
}

  /* second part */

#container{
  margin-top: 50px;
  display: flex;
  gap: 200px;
}
img{
  margin-left: 100px;
  width: 500px;
  height: 400px;
}
.text-container{
  margin-left: 30px;
}
#center{
  color: purple;
}
h1{
  margin: 0;
}
#first-text{
  margin-top: 10px;
  width: 300px;
}
span{
  margin: 0;
}
.button-part{
  margin-top: 50px;
  display: flex;
}
button{
  width:fit-content;
  padding: 10px 10px;
  border-radius: 30px;

}
.btn-last{
  background-color: blue;
  color: white;
}

