body{
  background-color: rgb(35, 61, 61);
}
.all-container{
  display: flexbox;
  border: 1px solid black;
  width: 50%;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(rgb(38, 39, 46));
  border-radius: 20px;
}
.placeholder-container{
  justify-content: center;
  align-items: center;
}
.place-1{
  padding: 10px 20px;
  color: white;
}
.place-2{
  padding: 10px 20px;
  color: white;
}
.text-1{
 display: inline;
}
.text-2{
 display: inline;
 margin-left: 15px;
}
.btn-1{
  padding: 10px 60px;
  margin-left: 60px;
  margin-top: 50px;
  background-color: transparent;
  border-radius: 40px;
}
.btn-2{
  padding: 10px 60px;
  margin-left: 60px;
  background-color: transparent;
  border-radius: 40px;
}
.btn-2:hover{
  background-color: rgb(17, 50, 237);
  color: white;
  cursor: pointer;
}
.btn-1:hover{
  background-color: rgb(17, 50, 237);
  color: white;
  cursor: pointer;
}
span{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
 color: rgb(104, 13, 231);
}
.span-2{
  margin-left: 130px;
}
input {
  background-color: rgb(38, 39, 46);
  width: 570px;
  height: 50px;  
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.225);
  font-size: 20px;
  color: white;
}
.place-2 input{
  width: 570px;
  height: 200px;
}
::placeholder{
  padding-left: 20px;
}
.send-btn{
  background-color: transparent;
  border-radius: 40px;
  padding: 10px 60px;
  margin-left: 200px;
  height: 50px;
  width: 300px;
}
.send-btn:hover{
  background-color: rgb(17, 50, 237);
  color: white;
  cursor: pointer;
}


